*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      background-color: rgb(0, 0, 0);
      color: black;
      margin: 2%;
  }
  
  #contenedor {
  
      background-color: rgb(243, 196, 225);
      margin: 10px;
      padding: 20px;
  }
  
  #encabezado {
      font-family: "Jersey 25", sans-serif;
      font-weight: 400;
      font-style: normal;
      width: 90%;
      background-color: rgb(0, 0, 0);
      margin: 1em;
      border-radius: 5px;
      text-align: center;
      color: rgb(220, 194, 218);
  }
  
  #menu {
  
      height: 40px;
      background-color: rgb(0, 0, 0);
      margin: 1em;
      border-radius: 5px;
  }
  
  ul {
      text-align: center;
      padding: 10px;
  }
  
  li {
      display: inline;
      padding: 10px 30px;
      margin: 3em;
  }
  
  li a:hover {
  
      color: rgb(152, 10, 10);
      font-size: 20px;
      text-decoration: none;
      list-style: none;
  }
  
  .img {
  
      width: 100%;
      justify-items: center;
  }
  
  .texto {
  
      text-align: justify;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
      padding: 5px 25px;
      color: black;
  }
  
  #pie {
  
      height: 60px;
      background-color: dimgray;
      margin: 1.5em;
      text-align: center;
      padding: 5px;
      border-radius: 5px;
  }
  
  #pie h4 {
      padding: 15px;
      font-size: 30px;
      color: aliceblue;
  }
  
  .anta-regular {
      font-family: "Anta", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
  .card {
  
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      overflow: hidden;
      max-width: 300px;
      margin: 10px;
      text-align: center;
      border: 2px solid;
      vertical-align: top;
      width: 300px; 
      max-height: 400px;
      flex: 0 0 auto; 
      
  }
  
  .card:hover {
  
      max-width: 310px;
  }
  .card img {
  
      background-color: white;
  }
  
  .title {
  
      color: rgb(255, 255, 255);
      font-size: 18px;
  }
  
  button {
  
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: black;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
  }
  
  button:hover {
      opacity: 0.7;
  }
  
  .contenedorFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row; 
    
}
  