body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #374e6c;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1, header h2, header h3 {
    margin: 0;
}

header img {
    margin-top: 10px;
    max-width: 100px;
    border-radius: 50%;
}

section {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #374e6c;
    font-weight: bold;
}

nav ul li a:hover {
    color: #8f99a5;
}

footer {
    background-color: #374e6c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer h5 {
    margin: 0;
}